.box {
    border: 5px solid #41ff00;;
    border-radius: 10px;
    width: 310px;
    height: 280px;
    position: absolute;
    top: 150px;
    left: 900px;

}

.error {
    position: absolute;
    top:25px;
    left: 50px;
    color: red;

}

.withoutError {
    position: absolute;
    top: 10px;
    left:15px;
}

.counterValue {
    position: absolute;
    font-size:40px ;
    left: 128px;
}

.counter {
    position: absolute;
    border: rgba(93, 255, 1, 0.5);
    border-radius: 12px;
    left: 15px;
    top: 20px;
    width: 280px;
    height: 120px;
    margin-bottom: 20px;
    background-color: rgba(93, 255, 1, 0.5);
}

.button1 {
    position: absolute;
    left: 40px;
    top: 20px;
}

.button2 {
    position: absolute;
    right: 40px;
    top: 20px;
}

.buttonBox {
    position: absolute;
    top: 180px;
    left: 15px;
    border: 2px solid #41ff00;
    border-radius: 12px;
    width: 280px;
    height: 80px;

}

.maxNumber {
    position: absolute;
    bottom: -70px;
    left: 115px;
    color: red;
    font-size: 90px;
    font-weight: bold;
}

.button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: rgba(93, 255, 1, 0.5);
    background-color: rgba(93, 255, 1, 0.5);
    font-weight: bold;
    font-size: 20px;


}